		<footer>
			<div class="row hidden-md hidden-sm hidden-xs">
				<div class="col-lg-4">
					<br>
					<a href="/#">^ top</a> | Copyright 2014 - Benjamin Wöhrl
				</div>
				<div class="col-lg-8">
					<br>
					<div class="menu-footer-navigation-container">
						<ul id="menu-footer-navigation" class="menu">
							<li class="menu-item">
								<a href="{{ "/impressum" | prepend: site.baseurl }}">impressum</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row hidden-lg text-center">
				<br>
				Copyright 2014 - Benjamin Wöhrl
				<br>
				<div class="menu-footer-navigation-container">
					<ul id="menu-footer-navigation-1" class="menu">
						<li class="menu-item">
							<a href="{{ "/impressum" | prepend: site.baseurl }}">impressum</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div><!-- container -->

