	<div class="container">
		<header class="clearfix">
			<div class="row hidden-md hidden-sm hidden-xs">
				<div class="col-lg-6">
					<div class="row">
						<!-- <div class="col-lg-2"> -->
						<div class="col-lg-4">
							<a href="/">
								<!--- <img class="logo" src="{{ "/images/benjaminwoehrl_avatar.png" | prepend: site.baseurl }}"/> -->
								<img class="logo" src="{{ "/images/gif/benjaminwoehrl_avatar_weihnachten.gif" | prepend: site.baseurl }}"/>
							</a>
						</div>
						<!-- <div class="col-lg-4"> -->
						<div class="col-lg-6">
							<div class="logo">
								<a href="/">
									<h1>Benjamin Wöhrl</h1>
									<h2>Developer and Artist</h2>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="menu-header-navigation-container">
						<ul id="menu-header-navigation" class="menu">
							<li class="menu-item"><a href="/">home</a></li>
							<li class="menu-item"><a href="{{ "/about" | prepend: site.baseurl }}">about</a></li>
							<li class="menu-item"><a target="_blank" href="https://medium.com/@ruction">blog</a></li>
							<li class="menu-item"><a href="mailto:hey@benjaminwoehrl.de">contact</a></li>
						</ul>
					</div>
				</div>
			</div><!-- row -->

			<div class="row hidden-lg text-center">
				<a href="/">
					<img class="logo" src="{{ "/images/gif/benjaminwoehrl_avatar_weihnachten.gif" | prepend: site.baseurl }}"/>
				</a>
				<a href="/">
					<h1>Benjamin Wöhrl</h1>
					<h2>Developer and Artist</h2>
				</a>
				<div class="menu-header-navigation-container clearfix page_navigation">
					<ul id="menu-header-navigation" class="menu">
						<li class="menu-item"><a href="/">home</a></li>
						<li class="menu-item"><a href="{{ "/about" | prepend: site.baseurl }}">about</a></li>
						<li class="menu-item"><a target="_blank" href="https://medium.com/@ruction">blog</a></li>
						<li class="menu-item"><a href="mailto:hey@benjaminwoehrl.de">contact</a></li>
					</ul>
				</div>
			</div>
		</header>

