// Custom variables
$font-color: #373a3a;

// Bootstrap variables
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// FontAwesome variables
$fa-font-path: "../bower_components/components-font-awesome/fonts";